<p id="notice"><%= notice %></p>

<p>
  <strong>Protype:</strong>
  <%= @property.protype %>
</p>

<p>
  <strong>Description:</strong>
  <%= @property.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @property.remark %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
